.main__block {
  padding-bottom: 158px;
  padding-top: 158px;
  padding-right: 192px;
  padding-left: 192px;
  min-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 20px;
}

.homepage__card {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ecfaf9;
  border-radius: 20px;
}

.homepage__card__title {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 90px;
  padding-bottom: 20px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.homepage__card__description {
  margin-bottom: 30px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000000;
}

.start__btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 100px;
  background: #1bb7ac;
  border: none;
  border-radius: 10px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.link {
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffffff;
}
